<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Sarthak Katyal's Website</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="/static/css/default.css">
	<link rel="stylesheet" href="/static/css/layout.css">
   <link rel="stylesheet" href="/static/css/media-queries.css">
   <link rel="stylesheet" href="/static/css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="/static/js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Sarthak Katyal.</h1>
            <h3>I'm a Finance student at the University of Illinois Urbana-Champiagn. 
               I'm a <span>consultant</span>, <span>reader</span> and <span>writer.</span> 
            Feel free to <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               <li><a href="https://www.linkedin.com/in/sarthak--katyal"><i class="fa fa-linkedin"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="/static/images/header-background.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>Hi, I'm Sarthak Katyal, a freshman at The University of Illinois at Urbana-Champaign. 
               I have a deep interest in Finance, International Business, and the intersection of Business and Technology. 
               At the U of I, I am currently involved in two management consulting groups and one tech consulting group. 
               I am also the Treasurer of the International Business Association. 
               In addition to that, I manage a modest investment portfolio filled with stocks, bonds, and cryptocurrencies.
               In my free time, I like reading and writing. 
               Specifically, I like reading old books that people do not think are relevant anymore. 
               I disagree; the wisdom of the past is more relevant now than ever before.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Sarthak Katyal</span><br>
						   <span>Chicago & New York City <br>
                     <!-- </span><br> -->
						   <span>(201) 973-4880</span><br>
                     <span>skatyal3@illinois.edu</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="https://docs.google.com/document/d/1CZda2yUTzPX_JNeczYdxN3c3ePGBsjtJ4NvNjyVXyEg/edit?usp=sharing" class="button"><i class="fa fa-download"></i>My Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>University of Illinois at Urbana-Champaign</h3>
                  <h2>Gies College of Business</h2>
                  <p class="info">B.S. in Finance <span>&bull;</span> <em class="date">May 2025</em></p>

                  <p>
                  On campus, I am an active member of: OTCR Consulting, CUBE Consulting, 
                  Disruption Lab, AXIS Risk Management Academy, and the International Business Association
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Morris Catholic High School</h3>
                  <p class="info">High School Diploma <span>&bull;</span> <em class="date">June 2021</em></p>

                  <p>
                  Throughout high school, I was involved in Italian Club and soccer. 
                  Nationally, I was also a part of the Science, Italian, and National Honors Societies.
                  Morris Catholic also had some internal honors societies like Magna Corda and Beta Club that I was a part of as well.
                  At graduation I recieved awards in Graphic Arts and English, along with the Presidential Excellence Award.
                  I also won a Graphic Design Competition for a local ski park and resort.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Experiences
      ----------------------------------------------- -->
      <div class="row experiences">

         <div class="three columns header-col">
            <h1><span>Experiences</span></h1>
            <span>This is all of them so far.</span>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>OTCR Consulting</h3>
                  <p class="info">New-Hire Consultant <span>&bull;</span> <em class="date">January 2022 - Present</em></p>

                  <p>
                     Selected among 200+ applicants for The U of I's premier consulting organization <br>
                     Delivered Whitepapers, Case Studies, SWOT Analyses, and Competitor Analyses <br> 
                     Conducted <b>social media analysis</b> and provided actionable reccomendations for a Chicago-based startup's social media strategy <br>
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>CUBE Consulting</h3>
                  <p class="info">Consultant <span>&bull;</span> <em class="date">January 2022 - Present</em></p>

                  <p>
                  <b> Conducted market and SEO research </b> for an educational startup in the Bay Area<br>
                  Ideated ways to integrate financial literacy in a technology focused children's educational camp<br>
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>AXIS Risk Management Academy</h3>
                  <p class="info">Member <span>&bull;</span> <em class="date">January 2022 - Present</em></p>

                  <p>
                  <b>Performed analysis </b> on the risks of clean energy technology development and digitalization<br>
                  Consulted for one of the largest specialty insurers in the world<br>
                  Worked in conjunction with 11 other teams and Illinois Business Consulting<br>
                  </p>

               </div>

            </div> <!-- item end -->
            <div class="row item">

               <div class="twelve columns">

                  <h3>Disruption Lab </h3>
                  <p class="info">CS Incubator Member <span>&bull;</span> <em class="date">September 2021 - Present</em></p>

                  <p>
                  Utilized software to build this website<br>
                  Solidified knowledge of <b>Python, Git, HTML, CSS, and the Terminal</b> <br>
                  </p>

               </div>

            </div> <!-- item end -->
            <div class="row item">

               <div class="twelve columns">

                  <h3>Mathnasium of Northwest Parsippany</h3>
                  <p class="info">Math Instructor <span>&bull;</span> <em class="date">July 2021 - Present</em></p>

                  <p>
                  <b>Worked</b> with students from 5 to 15 to sharpen math skills<br>
                  <b>Quickly conveyed</b> thoughts, changed my thinking, 
                  and used positive reinforcement and proactive behavioral changes to <b>manage</b> kids<br>
                  </p>

               </div>

            </div> <!-- item end -->
            
            <div class="row item">

               <div class="twelve columns">

                  <h3>InSearch Global Consulting</h3>
                  <p class="info">Director of Community Service Initiatives <span>&bull;</span> <em class="date">March 2017 - September 2020</em></p>

                  <p>
                  <b>Strategized</b> and <b>executed</b> community development initiatives within Northern New Jersey <br>
                  Led a small team to clean a town dumping ground and refurbish it to a garden <br>
                  
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Xlibris</h3>
                  <p class="info">Freelancer <span>&bull;</span> <em class="date">March 2019 - September 2019</em></p>
                  <p>
                  <b>Edited</b> <a href="https://books.google.com/books/about/Rhythmic_Rhymes.html?id=pYmpDwAAQBAJ&source=kp_book_description" ></i>the book</a> and <b>marketed</b> it through social media <br>
                  <b>Utilized Adobe Photoshop and Illustrator </b> to compile the book and create graphics<br>
                  <b>Negotiated </b> price point with the publisher and successfully launched the book online through Amazon and Barnes & Nobles<br>
                  
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Experiences -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>
            <h6>These are some of the technical and language skills I possess.</h6>
            </p>

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand photoshop"></span><em>Photoshop</em></li>
                  <li><span class="bar-expand illustrator"></span><em>Illustrator</em></li>
						<li><span class="bar-expand python"></span><em>Python</em></li>
						<li><span class="bar-expand html5"></span><em>HTML5</em></li>
						<li><span class="bar-expand hindi"></span><em>Hindi</em></li>
                  <li><span class="bar-expand urdu"></span><em>Urdu</em></li>
                  <li><span class="bar-expand italian"></span><em>Italian</em></li>
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->

   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

                  <p class="lead"> 
                  Feel free to use either the form below or my contact information to get in touch with me!
                  </p>

            </div>

         </div>

         <div class="row">

            <div class="eight columns">

               <!-- form -->
               <form action="" method="post" id="contactForm" name="contactForm">
					<fieldset>

                  <div>
						   <label for="contactName">Name <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
						   <label for="contactEmail">Email <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                  </div>

                  <div>
						   <label for="contactSubject">Subject</label>
						   <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
                     <button class="submit">Submit</button>
                     <span id="image-loader">
                        <img alt="" src="images/loader.gif">
                     </span>
                  </div>

					</fieldset>
				   </form> <!-- Form End -->

               <!-- contact-warning -->
               <div id="message-warning"> Error boy</div>
               <!-- contact-success -->
				   <div id="message-success">
                  <i class="fa fa-check"></i>Your message was sent, thank you!<br>
				   </div>

            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4>Contact Me!</h4>
					   <p class="address">
						   Sarthak Katyal<br>
						   Chicago & New York City <br>
						   <span>(201) 973-4880</span><br>
                     <span>skatyal3@illinois.edu</span>
					   </p>

				   </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https:www.linkedin.com/in/sarthak--katyal"><i class="fa fa-linkedin"></i></a></li>
               </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2014 CeeVee</li>
               <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>   
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>