<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sarthak Katyal's Website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  
  <link href="assets/img/sk-favicon-website.ico" rel="icon">
  <link href="assets/img/sk.ico" rel="favicons">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v4.7.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <!-- <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li> 
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li> -->
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Sarthak Katyal</h1>
      <p>I'm a <span class="typed" data-typed-items="Student, Reader, Writer, Cook, Consultant, Traveler, Quasi-Developer"></span></p>
      <div class="social-links">
        <a href="https://www.instagram.com/sarthak.katyal/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/sarthak--katyal" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>Hi, I'm Sarthak Katyal, a freshman at The University of Illinois at Urbana-Champaign. 
            I am currently studying Finance and Data Science. 
            I have a deep interest in Finance, International Business, and the intersection of Business and Technology. 
            At the U of I, I am currently involved in two management consulting groups and one tech consulting group. 
            I am also the Treasurer of the International Business Association. 
            In addition to that, I manage a modest investment portfolio filled with stocks, bonds, and cryptocurrencies.
            In my free time, I like reading and writing. 
            Specifically, I like reading old books that people do not think are relevant anymore. 
            I disagree; the wisdom of the past is more relevant now than ever before.</p>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>These are just some of my skills.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Photoshop & Illustrator<i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Hindi <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Urdu <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Italian <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          
          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Sarthak Katyal</h4>
              <p><em>Innovative and deadline-driven student interested in learning and exploring everything the world has to offer.
              If you'd like to see my most current resume, <a href="https://docs.google.com/document/d/1CZda2yUTzPX_JNeczYdxN3c3ePGBsjtJ4NvNjyVXyEg/edit?usp=sharing" class="button"></i>click here</a>!</p></em>
              <ul>
                <li>New York City & Chicago</li>
                <li>(201) 973-4880</li>
                <li>skatyal3@illinois.edu</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>B.S. in Finance and Data Science</h4>
              <h5>2021 - 2025</h5>
              <p><em>Gies College of Business, University of Illinois Urbana-Champaign</em></p>
              <p>On campus, I am an active member of: OTCR Consulting, CUBE Consulting, 
                Disruption Lab, AXIS Risk Management Academy, and the International Business Association</p>
            </div>
            <div class="resume-item">
              <h4>High School Diploma</h4>
              <h5>2017 - 2021</h5>
              <p><em>Morris Catholic High School</em></p>
              <p>Throughout high school, I was involved in Italian Club and soccer. 
                Nationally, I was also a part of the Science, Italian, and National Honors Societies.
                Morris Catholic also had some internal honors societies like Magna Corda and Beta Club that I was a part of as well.
                At graduation I recieved awards in Graphic Arts and English, along with the Presidential Excellence Award.
                I also won a Graphic Design Competition for a local ski park and resort.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>OTCR Consulting</h4>
              <h5>New Hire Consultant</h5>
              <p><em>2022 - Present </em></p>
              <ul>
                <li>Selected among 200+ applicants for The U of I's premier consulting organization</li>
                <li>Delivered Whitepapers, Case Studies, SWOT Analyses, and Competitor Analyses </li>
                <li>Conducted social media analysis and provided actionable reccomendations for a Chicago-based startup's social media strategy</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>CUBE Consulting</h4>
              <h5>Consultant</h5>
              <p><em>2022 - Present</em></p>
              <ul>
                <li>Conducted market and SEO research for an educational startup in the Bay Area</li>
                <li>Ideated ways to integrate financial literacy in a technology focused children's educational camp</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Mathnasium of Northwest Parsippany</h4>
              <h5>Math Instructor</h5>
              <p><em>2021 - Present</em></p>
              <ul>
                <li>Worked with students from 5 to 15 to sharpen math skills</li>
                <li>Quickly conveyed thoughts, changed my thinking, and used positive reinforcement and proactive behavioral changes to manage kids</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Xlibris</h4>
              <h5>Freelancer</h5>
              <p><em>2018 - 2019</em></p>
              <ul>
                <li>Edited <a href="https://books.google.com/books/about/Rhythmic_Rhymes.html?id=pYmpDwAAQBAJ&source=kp_book_description" ></i>the book</a> and marketed it through social media</li>
                <li>Utilized Adobe Photoshop and Illustrator to compile the book and create graphics</li>
                <li>Negotiated price point with the publisher and successfully launched the book online through Amazon and Barnes & Nobles</li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Sarthak Katyal</h3>
      <li>
        <blockquote>
           <p>Quit, don't quit. Noodles, don't noodles. 
              You are too concerned about what was and what will be. 
              There is a saying: yesterday is history, tomorrow is a mystery, but today is a gift. 
              That is why it is called the present.
           </p>
           <cite>Master Oogway</cite>
        </blockquote>
     </li> 
      <div class="social-links">
        <a href="https://www.instagram.com/sarthak.katyal/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/sarthak--katyal" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>